@{
    ViewData["Title"] = "Dashboard";
}
<div class="products">
    <h1>New Products</h1>
    <ul>
        @foreach(var product in ViewBag.RecentProducts)
        {
            <li><a href="/home/orders">@product.Name</a></li>
            <li>@product.Quantity</li>
        }
    </ul>
    <p><a href="/home/products">Show More!</a></p>
</div>
<div class="orders">
    <h1>Recent Orders</h1>
    <ul>
        @foreach(var order in ViewBag.RecentOrders)
        {
            <li>@order.Customer.Name purchased @order.Quantity @order.Product.Name on @order.CreatedAt</li>
        }
    </ul>
    <p><a href="/home/orders">Show More!</a></p>
</div>
<div class="customers">
    <h1>New Customers</h1>
    <ul>
        @foreach(var customer in ViewBag.RecentCustomers)
        {
            <li>@customer.Name joined the store on @customer.CreatedAt</li>
        }
    </ul>
    <p><a href="/home/customers">Show More!</a></p>
</div>